
	<div id="home" class="banner">
        <div class="content_box">
            <div class="col-md-4 header-left">
                <img src="/static/myApp0710/images/my.jpg" alt=""/>
                <div class="gzwm" style="width: 300px">
                        <ul>
                            <li><a class="email" href="#" title="18638790540">我的电话</a></li>
                            <li><a class="qq" href="#" title="847464064@qq.com">我的邮箱</a></li>
                            <li><a class="tel" href="#" title="847464064">我的QQ</a></li>
                            <li><a class="prize" href="#">个人奖项</a></li>
                        </ul>
                    </div>
            </div>
            <div class="col-md-8 header-right">
                <h1>黄云中</h1>
                <ul class="address">
                    <li>
                        <ul class="address-text">
                            <li><b>性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别</b></li>
                            <li>男</li>
                        </ul>
                    </li>
                    <li>
                        <ul class="address-text">
                            <li><b>民&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;族</b></li>
                            <li>汉</li>
                        </ul>
                    </li>
                    <li>
                        <ul class="address-text">
                            <li><b>出生日期</b></li>
                            <li>1996-11-11</li>
                        </ul>
                    </li>
                    <li>
                        <ul class="address-text">
                            <li><b>居住地址</b></li>
                            <li>北京朝阳区王四营镇中公教育五方桥基地</li>
                        </ul>
                    </li>
                    <li>
                        <ul class="address-text">
                            <li><b>个人邮箱</b></li>
                            <li><a href="#" target="">847464064@qq.com</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
	</div>
	<!--//banner-->

	<!--about-->
	<div id="about" class="about">
		<div class="content_box">
			<h3 class="title"> 关于我</h3>
			<div class="col-md-8 about-left">
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;具有较强的用户研究、市场分析能力，对中国用户的社会形态、生活方式有丰富的认识和独特的见解;对色彩、材质感觉细腻而敏感，具有色彩、材质、表面处理的研究和趋势分析能力，对当代中国的色彩具有深入的理解和自己的观点;能够准确把握社会文化、流行趋势，对中国现代社会及传统文化背景有仔细的研究和深刻的理解;对设计工作充满热情，有较强的设计能力，设计的产品范围广泛。</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;熟悉服装制作的基础知识，懂得人体结构理论，对服装面料，辅料性质有足够的认识，精通服装制作过程及工艺、成本构成。熟悉服装企业的接单报价排单流程，生产排期流程，制作工艺流程，验货程序标准等。手绘功底深，工作积极性高，为人热情，乐于助人，沟通能力较强，拥有创新思维、有团队精神并能承受较大的工作压力。</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;拥有多年的工业设计经验，经过时间的积累和沉淀已经有了自己的设计技巧和风格，性格低调，比较细心，责任感强，有进取心，诚实可靠。有很强的团队合作意识和一定的领导能力，具有良好的手绘能力,思维敏锐，学习能力、表达能力出众。</p>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!--//about-->
